html {
    background-image: url("../image/ciel.jpg");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.encadreTitre {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInDown 2s ease-out forwards;
    justify-content: center;
    width: 80vw;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(11px, 2vw, 30px);
    text-align: center;
    align-items: center;
    border: solid rgb(23, 127, 171);
    border-radius: 30px;
    background-color: rgb(3, 107, 151);
    color: white;
    margin-bottom: 10px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.encadreInfos {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 2s ease-out forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border: solid black 2px;
    border-radius: 10px;
    width: 80vw;
    padding-top: 2vh;
    padding-bottom: 2vh;

}

#errorMessage {
    color: red;
}

.cache {
    display: none;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}