html {
    background-image: url("../image/ciel.jpg");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.encadreTitre {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInDown 1.5s ease-out forwards;
    justify-content: center;
    width: 80vw;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(11px, 2vw, 30px);
    text-align: center;
    align-items: center;
    border: solid rgb(23, 127, 171);
    border-radius: 30px;
    background-color: rgb(3, 107, 151);
    color: white;
    margin-bottom: 10px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.encadreInfos {
    background-color: #96C9F4;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1.5s ease-out forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border: solid rgb(23, 127, 171) 2px;
    border-radius: 10px;
    width: 80vw;
    padding-top: 2vh;
    padding-bottom: 2vh;

}

input {
    background-color: rgba(0,0,0,0);
    border: none;
    margin-left: 3px;
    border-bottom: black 1px solid;
    padding: 3px;
    margin-bottom: 3vh;
    scale: 1.2;
}

input:focus {
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
    outline: none;
}

form > * {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 3px;
    border-radius: 5px;
    background-color: transparent;
    border : 1px solid;
    outline: none;
    transform: translateY(50px);
    animation: fadeInDown 0.8s ease-out forwards;
    transition: transform 0.5s ease;
    scale: 1.2;

}

#submit {
    margin-top: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
    border: none;
    outline: none;
    border-radius: 5px;
    transform: translateY(50px);
    animation: fadeInDown 0.8s ease-out forwards;
}

option {
    background-color: #96C9F4;
    font-weight: lighter;
}

select :focus {
    background-color: transparent;
    outline: none;
    border: none;
}

#errorMessage {
    color: red;
}

.cache {
    display: none;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
